.App {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Abel', sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
  .login-section {
    width: 30%;
    height: auto;
    padding: 0 50px 25px;
    border-radius: 8px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    h2, p {
      color: #282c34;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 15px;
        img {
          width: 44px;
          height: 44px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .App {
    .login-section {
      width: 90%;
      padding: 0 0 20px;
      h2, p {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        span {
          img {
            width: 44px;
            height: 44px;
          }
        }
      }
    }
  }
}
