.search-result {
  font-size: 18px;
  flex-direction: column;
  margin-top: 50px;
  @media only screen and (max-width: 1024px) {
    overflow-x: scroll;
  }
  &.modal-on {
    position: fixed;
  }
  &-company-content,
  &-beneficiaries-content {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    .search-result-main-info {
      div {
        display: flex;
        flex-direction: column;
      }
    }
    .search-result-aditional-info, .search-result-payment-info  {
      p {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }
      .edit-btn {
        width: 50%;
        height: 20px;
        margin: 0;
        padding: 0;
        font-size: 14px;
      }
      .payment-date, .payment-method {
        p {
          margin: 0;
        }
      }
    }
    @media only screen and (max-width: 1024px) {
        width: 90%;
    }
  }
  &-beneficiaries-content {
    padding: 15px 0 0;
    margin-bottom: 50px;
    width: 100%;
    justify-content: center;
    table {
      border-collapse: collapse;
      width: 90%;
    }

    td,
    th {
      border: 1px solid #999;
      padding: 0.5rem;
      text-align: left;
    }
    th {
        text-transform: uppercase;
        font-weight: bold;
    }
    td {
        height: 100px;
        text-align: center;
        p {
            cursor: pointer;
            &:hover {
                color: #f75c57;
            }
        }
    }
    @media only screen and (max-width: 1024px) {
        justify-content: flex-start;
    }
  }
  &-company-content{
    .hiring-step {
      p {
        display: flex;
        margin: 15px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          text-align: center;
          margin-right: 7px;
          font-weight: bold;
        }
      }
      .upload-btn {
        width: 100%;
        font-size: 16px;
        p {
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .btn-warning, .btn-contract {
      min-width: 200px;
      height: 20px;
      margin: 0;
      font-size: 12px;
      background-color: red;
      @media only screen and (max-width: 1024px) {
        height: 40px;
      }
    }
    .btn-contract {
      margin: 10px 0 0;
      height: 40px;
      font-size: 18px;
      background-color: lightseagreen;
    }
    .btn-atention {
      width: 100%;
      height: 50px;
      font-size: 16px;
      padding: 10px 25px;
      margin: 0;
      text-transform: uppercase;
      background-color: lightseagreen;
    }
  }
  .members-qty {
    width: 90%;
    margin: 35px auto 0;
  }
}
